* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw  ;

  --nav-bg: silver;
  --nav-text: white;
  --accent-color: #c9d1d8;
  --accent-text-color : #03080e;
  --body-color: #e0e0ee;
  --dark-mode-text : #0b0f13;
}
.fade-in-dark,
.fade-in-light {
  transition: 0.3s ease;
}
.dark-mode-toggle {
  cursor: pointer;
  vertical-align: top;
  border: none;
  background: transparent;
}
body:not(.user-is-tabbing) .dark-mode-toggle:focus {
  outline: none;
}
.dark-mode-toggle .moon {
  padding: 10px;
}
.dark-mode-toggle .sun {
  padding: 5px;
}
body .dark-mode-toggle .moon {
  display: none;
}
body .dark-mode-toggle .sun {
  display: inline-block;
}
body.dark .dark-mode-toggle .moon {
  display: inline-block;
}
body.dark .dark-mode-toggle .sun {
  display: none;
}
body.dark{
  --nav-bg: #282828;
  --nav-text: white;
  --accent-color: #3F4448;
  --accent-text-color : #CFD0D1;
  --body-color: #1a1a1d;
  --dark-mode-text : silver
}
/* body.dark nav {
  filter: invert(100%);
} */
h4{
  margin-top: 0px !important;
}
html,
.full-height {
  height: 83vh;
}
.demo-options {
  margin-bottom: 10px;
}
.container{
  padding-right: 0px !important;
}
.introjs-hint{
  left: 43px !important;
}
.accent-bar{
  background: var(--accent-color);
  width: 100%;
  padding: 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.checkbox {
  margin-right: 10px;
}
.source {
  width: 100%;
  color: var(--dark-mode-text);
  font-family: 'Source Code Pro', monospace;
  resize: none;
  margin: inherit;
  padding: 18px 10px 0px 25px;
  background: var(--body-color);
}
body {
  overflow-x: hidden;
}
#full-screen{
  transition: 1s;
}
.result-html.fullscreen{
  z-index: 10000; 
  width: 100vw; 
  height: 100vh; 
  position: fixed; 
  top: 0; 
  left: 0; 
}
.result-html {
  padding: 5px 10px 0px 25px;
  overflow: auto;
  background-color: var(--body-color);
  color: var(--dark-mode-text);
  border: 1px solid #ccc;
  border-radius: 4px;
  transition: 1s;
	cursor: pointer;
}
.result-html img {
  max-width: 35%;
}
.result-src,
.result-debug {
  display: none;
  background-color: var(--body-color);
  color: var(--dark-mode-text);
}
.result-src-content,
.result-debug-content {
  white-space: pre;
}
.result-as-html .result-html {
  display: block;
}
.result-as-html .result-src,
.result-as-html .result-debug {
  display: none;
}
.result-as-src .result-src {
  display: block;
}
.result-as-src .result-html,
.result-as-src .result-debug {
  display: none;
}
.result-as-debug .result-debug {
  display: block;
}
.result-as-debug .result-html,
.result-as-debug .result-src {
  display: none;
}

header {
  font-family: 'Roboto Slab', serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 2%;
  background-color: #24292e;
}
nav{
  background: #24292e;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 6px 2%;
  min-width: 100vw;
}
nav .mainMenu{
  display: flex;
  list-style: none;
}
nav .mainMenu li a{
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-size: 1.8rem;
}
nav .mainMenu li .nav-anchors:hover{
  background: rgb(255,94,0);
}
nav .openMenu{
  font-size: 2rem;
  margin: 10px;
  display: none;
  cursor: pointer;
}
nav .mainMenu .closeMenu, .icons{
  font-size: 2rem;
  display: none;
  cursor: pointer;
}
nav .logo {
  margin: 6px;
  cursor: pointer;
}
.hamburger-logo{
  display: none;
}

@media (max-width: 800px){
  nav .mainMenu{
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #24292e;
    transition: top 1s ease;
    display: none;
  }
  nav .mainMenu li a{
    font-size: 2.5rem
  }
  .hamburger-logo{
    top: 20px;
    left: 40px;
    display: block;
    position: absolute
  }
  nav .mainMenu .closeMenu{
    display: block;
    position: absolute;
    top: 20px;
    right: 40px;
  }
  nav .openMenu{
    display: block;
  }
  nav .mainMenu li a:hover{
    background: none;
    color: rgb(255,123,0);
    font-size: 1.6rem;
  }
  .icons{
    display: inline-block;
    padding: 12px;
  }
  .content{
      width: 100vh;
      height: 100vh;
      flex-direction: column;
  }
  .split-one, .split-two{
    width: 102% !important;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  .gutter {
    width: 100% !important;
    background: #444857;
    cursor: ew-resize;
    max-height: 15px !important;  
    min-height: 10px !important;
  }
  .container{
    padding-left: 0px !important;
  }
  .source{
    padding-left: 40px;
  }
  .split-one, .split-two{
    min-height: calc((98vh - 73px)/2) !important;
  }
  body{
    max-height: 100vh !important;
    background-color: #24292e;
  }
  html{
    max-height: 100vh !important;
    overflow: -moz-hidden-unscrollable im !important;
    overflow: hidden !important;
  }
} 
nav a {
  text-decoration: none;
  color: var(--nav-text);
  font-size: 15px;
}
.logo_name {
  color: white;
  font-size: 18px;
  padding: 15px;
}
.logo_intro {
  display: flex;
  align-items: center;
}
.logo {
  width: clamp(2em, calc(9 / 80 * 100vw), 3.5em);
  cursor: pointer;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 20px;
}
.nav_links li a {
  transition: all 0.3s ease 0s;
}
.nav_links li a:hover {
  transition: #0088a9;
}

.content{
  display: flex;
  justify-items: center;
  align-items: end;
  height: 80%;
  min-width: 104vw;
}
.gutter {
  height: 100%;
  background: #444857;
  cursor: ew-resize;
  max-height: 100vh;  
  min-height: 90vh;
}
::-webkit-scrollbar {
    width: 0%
}
.split-one, .split-two{
  min-height: 55vh;
  float: left;
  height: 70vh;
}
.markdown-edit{
  padding: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.accent-bar h4{
  color: var(--accent-text-color);
}

@media (min-width:992px) {
  .container{
      width: 103vw;
  }
}
.util{
  display: flex;
  align-items: center;
}
.utility-button {
  margin-left: 2px;
  margin-right: 2px;
}
button {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  color: #428bca;
}


.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(0,0,0);
  overflow-y: scroll;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay {overflow-y: auto;}
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
  color: black;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #1a1a1d;
}
#myTable tr.header{
  font-size: 24px;
  color: crimson;
}
